header p{
  line-height: .7;
  color: #222;
}

ul{
  margin: 0 auto;
  width: 50%;
  list-style: none;
  font-family: 'Lato', Arial, sans-serif;
}

li{
  margin: 10px 0 0 0;
}

li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: inherit;
  transition: color 0.2s;
  font-weight: bold;
}
li a:hover{
  color: #ffca00;
}
.rightToLeft{
  direction: rtl;
  text-align: right;
}


/* Inline #0 | http://iamnabil.me/blog/ */

header {
  /* background: #ffca00; */
  margin: 0 auto;
  text-align: center;
  font-family: Lato,Arial,sans-serif;
  background: #ffca00;
  font-size: smaller;
  box-shadow: 0px -6px 17px 0px #ffca00;
  position: relative;
  margin: 0 0 4rem 0;
}

body{
  margin: 0 0 30% 0;
}

header h1 {
  /* color: #ffca00; */
  font-size: 6rem;
  margin: 1rem auto;
  color: #ffca00;
  background: white;
  width: max-content;
  padding: 2.5rem;
  box-shadow: 0 0 13px 0px rgba(255,255,255,1);
}
header p:nth-of-type(1){
  font-family: Montserrat;font-size: inherit;font-weight: 600;color: white;padding: 1.5rem 0 3rem 0;letter-spacing: 3px;width: max-content;margin: 0 auto;
}
header p:nth-of-type(2){
  font-family: Montserrat;font-size: inherit;font-weight: 600;color: white;/*! padding: 1.5rem 0 3rem 0; */letter-spacing: 3px;/*! margin: 5rem; */width: 283px;position: absolute;transform: rotateZ(90deg);top: 45%;bottom: 0;right: -8%;height: 28px;
}
header p:nth-of-type(3){
  font-family: Montserrat;font-size: inherit;font-weight: 600;color: white;/*! padding: 1.5rem 0 3rem 0; */letter-spacing: 3px;/*! margin: 5rem; */width: 283px;position: absolute;transform: rotateZ(-90deg);top: 45%;bottom: 0;height: 28px;left: -8%;
}
header p:nth-of-type(4){
  font-family: Montserrat;font-size: inherit;font-weight: 600;color: white;padding: 1.5rem 0 3rem 0;transform: rotate(180deg);letter-spacing: 3px;width: max-content;margin: 0 auto;
}
/* 
font-family: Montserrat;
font-size: inherit;
font-weight: 600;
color: white;
padding: 1.5rem 0 3rem 0;
letter-spacing: 3px;
width: max-content;
margin: 0 auto; */

