header{
  margin: 8rem auto 0 auto;
  text-align: center;
  font-family: 'Lato', Arial, sans-serif;
}
header h1{
  font-size: 3rem;
  margin: 0 0 3rem 0;
}
header p{
  line-height: .7;
  color: #222;
}

ul{
  margin: 0 auto;
  width: 50%;
  list-style: none;
  font-family: 'Lato', Arial, sans-serif;
}

li{
  margin: 10px 0 0 0;
}

li a{
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  &:visited{
    text-decoration: none;
    color: #333;
  }
}