


.header > p:nth-child(2) {
  font-size: 1.2em;
  position: relative ;
  text-align: center;
  margin-top: 1rem;
}


.indexUl li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: inherit;
  transition: color 0.2s;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.indexUl li a:hover{
  color: #ffca00;
}


.rightToLeft{
  direction: rtl;
  text-align: right;
}

.header h1, .header h2, .header h3{
  font-family: 'Playfair Display', serif
}

.header h1{
  font-size: 3rem
}
.header h3{ 
  font-size: 1.8rem;
  margin-bottom: 1rem
}
.header p{
  text-align: center;
  font-size: 1.2em;
}
    
.socialContainer{
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
  max-width: 60%;
  margin: 1rem auto;
}

.socialLink{
  height: 100%
}
  
.socialLink > img {
  height: 100%; 
  width: auto
}