
.indexUl{
  margin: 0 auto;
  font-family: 'Lato', Arial, sans-serif;
  width: 100%;
  list-style: none;
}

.indexUl li{
  margin: 30px 0 0 0;
  background: white;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02),1px 1px 15px 0 rgba(0,0,0,.03);
  transition: transform 0.5s;
  font-size: 1.5rem;
  color: black;
  text-align: left
}

.indexUl li p {
  margin-top: 1rem;
  font-size: 1rem;
}


/* Inline #1 | https://iamnabil.me/blog/ */

.indexUl li:hover {
  transform: translateY(-5px);
  box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1);
}

/* Element | https://iamnabil.me/blog/ */

.header {
  text-align: center;
  max-width: 600px;
  margin: 10rem auto 4rem;
}


.header > p:nth-child(2) {
  font-size: 1.2em;
  position: relative ;
  text-align: center;
  margin-top: 1rem;
}


.indexUl li a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  color: inherit;
  transition: color 0.2s;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
}

.indexUl li a:hover{
  color: #ffca00;
}


.rightToLeft{
  direction: rtl;
  text-align: right;
}

.header h1, .header h2, .header h3{
  font-family: 'Playfair Display', serif
}

.header h1{
  font-size: 3rem
}
.header h3{ 
  font-size: 1.8rem;
  margin-bottom: 1rem
}
.header p{
  text-align: center;
  font-size: 1.2em;
}
    
.socialContainer{
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
  max-width: 60%;
  margin: 1rem auto;
}

.socialLink{
  height: 100%
}
  
.socialLink > img {
  height: 100%; 
  width: auto
}