*{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  word-wrap: break-word;
}

.article-title{
  line-height: 1.25;
  font-weight: 400;
  font-size: 42px;
  color: black;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif
}

.blog-post-content{
  margin: 2rem auto;
}

h5{
  color: rgba(0,0,0,0.8);
  font-size: 16px;
}

h5 p{
  color: rgba(0,0,0,0.5);
  font-size: 14px;
  font-family: inherit;
}

img{
  margin: 0 auto;
  display: block;
}

p{
  font-size: 19px;
  letter-spacing: 0.9;
  font-weight: 400;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  padding: 6px 0;
  color: #555
}
p::selection{
  background: #C8E6FD;
}

blockquote{
  padding: 15px;
  position: relative;
}

blockquote span{
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-weight: 400;
  font-style: italic;
  font-size: 30px;
  line-height: 1.48;
  letter-spacing: -.012em;
  background: rgba(12,242,143,.2);
  position: relative;
}

blockquote::before{
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: -5px;
  top: 5px;
}

.image-description{
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 14px;
  margin: 6px;
}