*{
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  word-wrap: break-word;
}
h1,h2,h3,h4,h5,h6{
  font-family: Cambria, Georgia, Times New Roman, Sans;
}
a{
  text-decoration: none;
  color: inherit;
}
.articleTitle{
  line-height: 1.25;
  font-weight: 400;
  color: #000;
  font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem;
}

.articleTime{
  color: rgba(0,0,0,.5);
  font-family: inherit;
  text-transform: lowercase;
}

.blog-post-content{
  margin: 2rem auto;
}

h5{
  color: rgba(0,0,0,0.8);
}

h5 p{
  color: rgba(0,0,0,0.5);
  font-family: inherit;
}

img{
  margin: 0 auto;
  display: block;
}

p, ol{
  letter-spacing: 0.9;
  font-weight: 400;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  padding: 6px 0;
  color: #555
}

ul{
  letter-spacing: 0.9;
  font-weight: 400;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  color: #555
}

*::selection{
  background: #ffca00;
}

blockquote{
  padding: 15px;
  position: relative;
}

blockquote > p >span{
  --x-height-multiplier: 0.342;
  --baseline-multiplier: 0.22;
  font-weight: 400;
  font-style: italic;
  line-height: 1.48;
  letter-spacing: -.012em;
  background: rgba(12,242,143,.2);
  position: relative;
  font-size: 1.3rem;
}

blockquote::before{
  content: "\201C";
  font-family: Georgia, serif;
  font-weight: bold;
  color: #999;
  position: absolute;
  left: -5px;
  top: 5px;
  font-size: 4rem;
}

section > p > span{
  text-align: center;
  margin: 0 auto;
  display: block;
  margin: 6px;
  color: rgba(0,0,0,.5)
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Georgia, 'Times New Roman', Sans;
}


.articleDescription{
  color: rgba(0,0,0,.8);
  text-align: center;
  text-transform: uppercase;
}

.frontmatterBreak{
  padding: 0;
  margin: 2rem auto;
  background: rgba(0,0,0,.2);
  border: none;
  height: 1px;
  width: 40%;
}

.styleControl{
  position: fixed;
  width: 160px;
  height: 160px;
  z-index: 1;
  right: 76%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.styleControl > div:nth-child(1) > button{
  background: unset;
  border: unset;
  width: min-content;
  height: min-content;
  padding: 20px;
}

.styleControl > div:nth-child(1) > button > svg{
  height: 20px;
  width: 20px;
}


.styleControl > div:nth-child(1) > button {
  /* padding: 1rem; */
  padding: 0;
  margin: 0;
}

.styleControl > div:nth-child(1) > button:hover  svg{
  fill: #ffca00;
}

.styleControl > div:nth-child(3){
  display: flex;
  justify-content: space-evenly
}

.styleControl > hr:nth-child(2) {
  width: 80%;
  margin: 20px auto;
}

.styleControl > div:nth-child(1) {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.night-mode-check {
  margin: 0 7px;
  padding: 0;
}

@media only screen and (max-width: 1360px){
  .styleControl{
    left: 5px;
    right: unset;
  }
}

@media only screen and (max-width: 991px){
  .styleControl{
    width: 100%;
    position: absolute;
    top: 0;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
  }
  .styleControl > div:nth-child(3) {
    width: 40%;
    display: none;
  }
  .styleControl > div:nth-child(1) {
    align-items: center;
  }
  .styleControl > hr:nth-child(2) {
    display: none;
  }
}