//this includes all components, prefixed -c, reusable pieces, css stuff
@import './settings.styl'

.c-hr-break
  width 90%
  margin: 1rem auto;
  background transparent
  border-radius 5rem
  color transparent

.c-section 
  margin: 2rem 0;
  text-align left
  h2, h3
    font-weight 700
    font-size 1.2rem

.c-sectionHeader
  color black
  font-weight 300
  margin 0 0 2rem 0

.c-postList{
  margin: 0 auto;
  font-family: 'Lato', Arial, sans-serif;
  width: 100%;
  list-style: none;
}


.c-postList li{
  margin: 30px 0 0 0;
  background: white;
  padding: 80px 60px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,.02),1px 1px 15px 0 rgba(0,0,0,.03);
  transition: transform 0.5s;
  font-size: 1.5rem;
  color: black;
  text-align: left
}

.c-postList li p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.c-postList li a{
  text-decoration: none;
  font-size: 2rem;
  color: inherit;
  transition: color 0.2s;
  font-weight: bold;
  margin: 0 0 1rem 0;
  display: block;
}

.c-postList li a:hover{
  color: #ffca00;
}

.c-postList li:hover {
  transform: translateY(-5px);
  box-shadow: 1px 10px 30px 0 rgba(0,0,0,.1);
}

.c-socialContainer
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
  max-width: 60%;
  margin: 1rem auto;
  > a
    height: 100%
    > img
      height: 100%; 
      width: auto
      transition transform 0.2s

.c-socialContainer > a:hover
  transform translateY(-3px)


.c-rightToLeft
  .o-article-header
    text-align center
    direction rtl
  article
    h2,h3,h4,h5,h6,p
    direction rtl
    text-align right
  p
    letter-spacing: 0.3px;
    line-height: 31px;
  blockquote::before
    font-family: Arial, Georgia, serif;
    right: -5px;
  blockquote span
    font-style: normal;