//this includes all layout containers, objects, prefixed -o or -l for layout, layout stuff
@import './settings.styl'


.o-body 
  overflow-y hidden

.o-header
  position: relative 
  text-align center
  margin-top 1rem 
  margin: 10rem auto 4rem;
  h1
    font-size 3rem
    font-family Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  h3 
    font-size 1.8rem
    margin-bottom 1rem

    
.o-socialContainer
  display flex 
  justify-content space-evenly
  height 2rem
  max-width 60%
  margin 1rem auto


.o-tagsContainer
  display flex
  margin 0
  padding 0
  > a
    display: inline
    margin 0 0.2rem 0 0
    height 100% 
    font-size 0.7rem
    color #555
    background #f3f7f9
    padding 0 8px 0 4px
    border-radius 3px
    text-transform: lowercase
  > a::before
    content '#'
    margin 0 2px
    font-size 0.9em
  > a:hover
    transform unset;
    color #6a6a6a


.o-article-header
  h1 
    line-height: 1.25;
    font-weight: 400;
    color: #000;
    font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0 0 0;
  p
    text-align center
    font-size 1rem
    margin 0
    padding 0


.o-layout
  max-width 800px
  margin 0 auto
  padding 40px 0

.o-navigation
  width 100%
  position absolute 
  display flex
  justify-content space-between
  align-items center
  top 2rem
  right 2rem
  left 0
  margin 0
  padding 0 2rem
  > div
    display flex
  a
    display block
  > div:nth-child(1) a
    margin-right 1rem