@media screen and (min-width: 1920px)
  :root
    font-size 120%

@media screen and (max-width: 928px) {
  h1, .o-header h1 {
    font-size: 2rem;
  }
  h2,h3,h4,h5,h6,.c-postList li > a{
    font-size: calc(1.6rem - 1vw);
  }
  .c-postList li > h5 {
    font-size: calc(1.6rem - 1.5vw);
  }
  p {
    font-size: 0.9rem;
  }
  .o-layout {
    padding: 30px;
    max-width: 90%;
  }
  .o-header p {
    text-align: left;
  }
  .c-postList {
    width: 100%;
  }
}
@media screen and (max-width: 728px) {
  html{
    border: solid 4px #e8b700;
  }
  h1, .o-header h1 {
    font-size: 1.8rem;
  }
  h2,h3,h4,h5,h6, .c-postList li > a{
    font-size: calc(1.6rem - 1.5vw);
  }
  .c-postList li > h5 {
    font-size: calc(1.6rem - 1.8vw);
  }
  p{
    font-size: 0.8rem;
  }
  .o-layout {
    padding: 20px;
    max-width: 100%;
  }
  .o-header p {
    text-align: left;
  }
  .c-postList {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  html{
    border: solid 2px #e8b700;
  }
  h1, .o-header h1 {
    font-size: 1.6rem;
  }
  h2,h3,h4,h5,h6, .c-postList{
    font-size: calc(1.6rem - 2vw);
  }
  .c-postList li > h5 {
    font-size: calc(1.6rem - 3vw);
  }
  .o-layout {
    padding: 20px;
    max-width: 100%;
  }
  .o-header p {
    text-align: left;
  }
  .o-tagsContainer {
    flex-direction: column;
    & a{
      width: max-content;
      margin: 4px 0;
    } 
  }
  .c-postList p {
    font-size: 1.2rem;
  }
}