@media screen and (min-width: 1920px)
  :root
    font-size 200%


@media screen and (max-width: 480px)
  :root
      font-size 12px
  body
    padding: 20px;
    text-align: center;
  .o-header p
    text-align: left;
  .o-tagsContainer
    display none
  .c-postList
    a 
      font-size 1.4rem
    p 
      font-size 1.2rem



@media screen and (max-width: 728px)
	:root
		font-size 16
  body
    padding: 10px;
    text-align: center;
  .o-header p
    text-align: left;
  .c-postList
    width 100%


@media screen and (max-width: 928px)
  :root
    font-size 16px
  body
    padding: 10px;
    text-align: center;
  .o-header p
    text-align: left;
  .c-postList
    width 100%