.u-nightmode
  background #212121
  *
    color white
  article, body
    background #212121
  article * 
    color white !important
  hr 
    background white
  .c-postList li * 
    color white
  .c-postList li
    background: #353535;
  .o-tagsContainer > a
    background #484848
  img[src="/dev.svg"]
    filter invert(95%)
  
.u-justify
  text-align justify

.u-center
  text-align center
  display block

.u-rightToLeft, .u-rightToLeft *
  direction rtl
  unicode-bidi plaintext
  ul, li
    unicode-bidi embed

.u-rightToLeft h1, .u-rightToLeft h2, .u-rightToLeft h3, .u-rightToLeft h4, .u-rightToLeft h5, .u-rightToLeft h6, p.u-rightToLeft
  text-align right

.u-rightToLeft blockquote
  text-align right

.u-rightToLeft blockquote::before
  right -5px
  content "\201d"

hr.u-rightToLeft
  background #4a4a4a