---
const classes = 'text-xl lowercase no-underline bg-transparent'
const currentPath = Astro.url.pathname
const links = [
	{
		href: '/',
		title: 'Home'
	},
	{
		href: '/newsletter',
		title: 'Newsletter'
	},
	{
		href: '/blog',
		title: 'Blog'
	},
	{
		href: '/arabic',
		title: 'بالعربية',
		lang: 'ar'
	},
	{
		href: '/notes',
		title: 'Notes'
	},
	{
		href: '/sponsor',
		title: 'Sponsor'
	},
	{
		href: '/uses',
		title: '/uses'
	},
	{
		href: 'https://flowcv.com/resume/uapuv7emin',
		title: 'Resume'
	}
]
---

<nav class='flex w-full sm:justify-center flex-wrap flex-row gap-8'>
	{
		links.map(link => {
			const siteLink = link.href.startsWith('/')
			const extraAttrs = siteLink
				? {}
				: { rel: 'noreferrer noopener', target: '_blank' }

			return (
				<a
					href={link.href}
					class:list={{
						[classes]: true,
						underline: currentPath === link.href
					}}
					data-lang={link.lang ?? 'en'}
					{...extraAttrs}
				>
					{link.title}
				</a>
			)
		})
	}
</nav>
