---
import Icon from './Icon.astro'
---

<a
	href='https://github.com/sponsors/KL13NT'
	class='bg-white px-5 py-1 mt-4 border border-slate-300 rounded-md hover:no-underline group hover:bg-slate-100 transition-colors flex items-center no-underline'
>
	<Icon
		icon='sponsor'
		class='octicon octicon-heart icon-sponsor color-fg-sponsors me-2 inline-block text-black h-4 group-hover:scale-110 origin-center ease-[cubic-bezier(0.2, 0, 0.13, 2)] transition-all group-hover:fill-pink-500'
	/>
	Sponsor
</a>
