@tailwind base
@tailwind components
@tailwind utilities

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap')

h1, h2
	@apply text-black font-black mt-8 font-title

h3, h4
	@apply text-black font-bold mt-8 max-w-max font-title


h1
	@apply text-4xl

h2
	@apply text-3xl

h3
	@apply text-2xl

h4
	@apply text-xl

p, ul, ol
	@apply text-lg mt-4

a
	@apply bg-link max-w-max

	&:hover, &:active, &:focus
		@apply underline

li
	@apply mt-4

ul, ol
	@apply p-4 mt-0

ul li
	list-style-type: square

ol li
	list-style-type: decimal-leading-zero

img
	@apply max-h-screen m-auto

blockquote
	@apply p-6 pis-4 pie-0 lg:p-12 border-solid border-l-2 border-black mt-4 lg:m-8

	p cite
		@apply text-lg font-normal

	p
		@apply text-2xl font-bold

.text-content
	@apply w-full lg:w-7/12

.dir-rtl
	@apply font-rtl
	direction: rtl

	h1,
	h2,
	h3,
	h4
	
		@apply font-rtl


pre
	@apply mt-4

code
	@apply rounded text-white py-0 px-1 bg-code

pre code
	@apply max-w-full overflow-auto block p-4


[data-lang='ar']
	@apply font-rtl
	text-decoration-skip-ink: skip
	letter-spacing: -1px

	h1, h2, h3, h4
		@apply font-rtl

	p, ul, ol
		@apply text-2xl mt-8

	h3, h4
		line-height: 2.2

	ol li
		list-style-type: arabic-indic

	h3, h4
		padding-bottom: 4px

	blockquote
		@apply border-l-0 border-r-2



@media (min-width: 768px)
	h1
		@apply text-5xl

	h2
		@apply text-4xl

	h3
		@apply text-2xl

	h4
		@apply text-xl


/** Newsletter MailChimp specific rules **/

#mce-responses
	div:nth-child(1), div:nth-child(2)
		display: none